# http://editorconfig.org

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,pxd,pyx}]
indent_style = space
indent_size = 4

[*.{c,h}]
indent_style = tab
indent_size = 3

[*.yml]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.R]
indent_style = space
indent_size = 2
